%p#notice= notice
#post-content
  %h3
    = "#{@post.title}"
  %p 
    = "by " 
    %b
      = "#{@post.name}"
  %p
    = @post.content
  
  = link_to 'Edit', edit_post_path(@post)
  = "|"
  = link_to 'Back', posts_path
  
  %div
    %h3 Comments
    - @post.comments.each do |comment|
      %p
        %b 
          = "#{comment.name} says: "
        %p
        = comment.content

%a.btn.btn-primary#show-new-comment-form
  = "Comment"
  
%div#new-comment-form
  = render :partial=>'comments/form'